# Preserve the byte-exact upstream Unicode conformance fixture. Its license
# header contains two source-authored trailing spaces.
test/data/unicode/17.0.0/GraphemeBreakTest.txt whitespace=-blank-at-eol
